# Framework laptop only
profile laptop {
	output eDP-1 enable
}

# Dell monitor only
profile monitor {
	output 'Dell Inc. DELL P3421W CMMZH53' enable
}

# Gysbers monitor only 
profile gysbers {
	output 'Samsung Electric Company C32F391 HCPN303053' enable
}

# Laptop + monitor
profile monitor_override_laptop {
	output eDP-1 disable
	output 'Dell Inc. DELL P3421W CMMZH53' enable
}

profile gysbers_override_laptop {
	output eDP-1 disable
	output DP-1 enable
}

# Laptop + TV
profile monitor_and_tv {
	output eDP-1 enable
	output 'VIZIO, Inc M55-E0 0x00000101' enable
}