# Framework laptop only
profile laptop {
	output eDP-1 enable
}

# Dell monitor only
profile monitor {
	output DP-4 enable
}

# Laptop + monitor
profile monitor_override_laptop {
	output eDP-1 disable
	output DP-4 enable
}

# Laptop + TV
profile monitor_and_tv {
	output eDP-1 enable
	output DP-2 enable
}