# Default config for sway
#
# Copy this to ~/.config/sway/config and edit it to your liking.
#
# Read `man 5 sway` for a complete reference.

### Variables
#
# Logo key. Use Mod1 for Alt.
set $mod Mod1
set $super Mod4
# Home row direction keys, like vim
set $left j
set $down k
set $up i
set $right l
# Your preferred terminal emulator
set $term alacritty
# Your preferred application launcher
# Note: pass the final command to swaymsg so that the resulting window can be opened
# on the original workspace that the command was run on.
set $launcher rofi -show combi -combi-modi "drun,run,window,file-browser" -modi combi
set $config_dir ~/dotfiles/Sway

### Output configuration
#
# Default wallpaper (more resolutions are available in /usr/share/backgrounds/sway/)
# set $bg $config_dir/himalayan-desert-mountains.jpg fill
set $bg $config_dir/backgrounds/winter-in-bohemia.png fill
output * bg $bg
#
# Example configuration:
#
#   output HDMI-A-1 resolution 1920x1080 position 1920,0
#
# You can get the names of your outputs by running: swaymsg -t get_outputs

    set $laptop 'eDP-1'

    # Framework laptop screen
    # WARNING: The wiki says to avoid fractional scaling, but it seems to work great
    # That said, I shouldn't be shocked if something breaks at some point
    output $laptop resolution 2256x1504 scale 1.6

    # Dell 27" display
    output DP-4 resolution 1920x1080 scale 1.0

    bindswitch --reload --locked lid:on output $laptop disable
    bindswitch --reload --locked lid:off output $laptop enable

### Idle configuration
#
# Example configuration:
#
# exec swayidle -w \
#          timeout 300 'swaylock -f -c 000000' \
#          timeout 600 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"' \
#          before-sleep 'swaylock -f -c 000000'
#
# This will lock your screen after 300 seconds of inactivity, then turn off
# your displays after another 300 seconds, and turn your screens back on when
# resumed. It will also lock your screen before your computer goes to sleep.

exec swayidle -w \
  timeout 600 'systemctl suspend' \
  before-sleep 'swaylock -f --image /home/jeff/dotfiles/Sway/backgrounds/winter-in-bohemia.png --scaling=fill'

### Input configuration
#
# Example configuration:
#
  input type:touchpad {
    dwt enabled
    tap disabled
    natural_scroll enabled
    middle_emulation disabled
    click_method clickfinger
  }

  input type:pointer {
    scroll_factor 1.5
    pointer_accel 0.5
    natural_scroll enabled
  }

  input type:keyboard {
    xkb_options ctrl:nocaps
    xkb_numlock enable
  }

  input 'Apple Inc. Magic Keyboard with Numeric Keypad' {
    xkb_layout us(mac)
  }

  input 'Plus More Enterprise LTD. USB-compliant keyboard' {
    xkb_layout us
  }

  # Special keys
  bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
  bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
  bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
  bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
  bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
  bindsym XF86MonBrightnessUp exec brightnessctl set +5%
  bindsym XF86AudioPlay exec playerctl play-pause
  bindsym XF86AudioNext exec playerctl next
  bindsym XF86AudioPrev exec playerctl previous
#
# You can get the names of your inputs by running: swaymsg -t get_inputs
# Read `man 5 sway-input` for more information about this section.

### Key bindings
#
# Basics:
#
    # Start a terminal
    bindsym $mod+Return exec $term
    bindsym $mod+Shift+Return exec $term --name float_term

    # Kill focused window
    bindsym $mod+Shift+q kill

    # Start your launcher
    bindsym $mod+d exec $launcher
    bindsym $super+space exec $launcher

    # Drag floating windows by holding down $mod and left mouse button.
    # Resize them with right mouse button + $mod.
    # Despite the name, also works for non-floating windows.
    # Change normal to inverse to use left mouse button for resizing and right
    # mouse button for dragging.
    floating_modifier $mod normal

    # Reload the configuration file
    bindsym $mod+Shift+c reload

    # Restart sway in place
    bindsym $mod+Shift+r restart

    # Exit sway (logs you out of your Wayland session)
    # bindsym $mod+Shift+e exec swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -b 'Yes, exit sway' 'swaymsg exit'
    # Replacing swaynag with this simpler, keyboard-focused version
    set $exitmode '<< Exit sway? Yes (Return) or No (Escape) >>'
    bindsym $mod+shift+e mode $exitmode
    mode $exitmode {
      bindsym $mod+shift+e mode "default"
      bindsym Return exit
      bindsym Escape mode "default"
    }

    # Sleep
    set $sleepmode '<< Go to sleep? Yes (Return) or No (Escape) >>'
    bindsym $mod+shift+z mode $sleepmode
    mode $sleepmode {
      bindsym $mod+shift+z mode "default"
      bindsym Return exec "systemctl suspend"
      bindsym Escape mode "default"
    }
#
# Moving around:
#
    # Move your focus around
    bindsym $mod+$left focus left
    bindsym $mod+$down focus down
    bindsym $mod+$up focus up
    bindsym $mod+$right focus right
    # Or use $mod+[up|down|left|right]
    # bindsym $mod+Left focus left
    # bindsym $mod+Down focus down
    # bindsym $mod+Up focus up
    # bindsym $mod+Right focus right

    # Move the focused window with the same, but add Shift
    bindsym $mod+Shift+$left move left
    bindsym $mod+Shift+$down move down
    bindsym $mod+Shift+$up move up
    bindsym $mod+Shift+$right move right
    # Ditto, with arrow keys
    # bindsym $mod+Shift+Left move left
    # bindsym $mod+Shift+Down move down
    # bindsym $mod+Shift+Up move up
    # bindsym $mod+Shift+Right move right
#
# Workspaces:
#

    # Workspace Variables
    set $ws1 "1: main"
    set $ws2 "2: browse"
    set $ws3 "3"
    set $ws4 "4"
    set $ws5 "5"
    set $ws6 "6"
    set $ws7 "7"
    set $ws8 "8"
    set $ws8 "9"

    # Switch to workspace
    bindsym $mod+1 workspace $ws1
    bindsym $mod+2 workspace $ws2
    bindsym $mod+3 workspace $ws3
    bindsym $mod+4 workspace $ws4
    bindsym $mod+5 workspace $ws5
    bindsym $mod+6 workspace $ws6
    bindsym $mod+7 workspace $ws7
    bindsym $mod+8 workspace $ws8
    bindsym $mod+9 workspace $ws9

    bindsym Ctrl+Left workspace prev_on_output
    bindsym Ctrl+Right workspace next_on_output
    bindsym $super+Tab workspace back_and_forth

    bindsym --whole-window button8 workspace prev_on_output
    bindsym --whole-window button9 workspace next_on_output

    # Move focused container to workspace
    bindsym $mod+Shift+1 move container to workspace $ws1
    bindsym $mod+Shift+2 move container to workspace $ws2
    bindsym $mod+Shift+3 move container to workspace $ws3
    bindsym $mod+Shift+4 move container to workspace $ws4
    bindsym $mod+Shift+5 move container to workspace $ws5
    bindsym $mod+Shift+6 move container to workspace $ws6
    bindsym $mod+Shift+7 move container to workspace $ws7
    bindsym $mod+Shift+8 move container to workspace $ws8
    bindsym $mod+Shift+9 move container to workspace $ws9
    
    # Note: workspaces can have any name you want, not just numbers.
    # We just use 1-10 as the default.

#
# Layout stuff:
#
    hide_edge_borders both
    default_border pixel
    default_floating_border normal
    for_window [class=".*"] title_format "%class"
    for_window [class=".*"] opacity 1.0
    font pango:Fira Code 10

    # You can "split" the current object of your focus with
    # $mod+b or $mod+v, for horizontal and vertical splits
    # respectively.
    bindsym $mod+b splith
    bindsym $mod+v splitv

    # Switch the current container between different layout styles
    bindsym $mod+s layout stacking
    bindsym $mod+w layout tabbed
    bindsym $mod+e layout toggle split

    # Make the current focus fullscreen
    bindsym $mod+f fullscreen

    # Toggle the current window between tiling and floating mode
    bindsym $mod+Shift+space floating toggle

    # Set the current window to floating and translucent
    bindsym $mod+Shift+f floating on; opacity 0.4;

    # Swap focus between the tiling area and the floating area
    bindsym $mod+space focus mode_toggle

    # Move focus to the parent container
    bindsym $mod+a focus parent

    # Set window to sticky
    bindsym $mod+Shift+s sticky toggle

    # Modify opacity
    bindsym $mod+Up opacity plus 0.1
    bindsym $mod+Down opacity minus 0.1

#
# Scratchpad:
#
    # Sway has a "scratchpad", which is a bag of holding for windows.
    # You can send windows there and get them back later.

    # Move the currently focused window to the scratchpad
    bindsym $mod+Shift+minus move scratchpad

    # Show the next scratchpad window or hide the focused scratchpad window.
    # If there are multiple scratchpad windows, this command cycles through them.
    bindsym $mod+minus scratchpad show
    
#
# Resizing containers:
#
mode "resize" {
    # left will shrink the containers width
    # right will grow the containers width
    # up will shrink the containers height
    # down will grow the containers height
    bindsym $left resize shrink width 10px
    bindsym $down resize grow height 10px
    bindsym $up resize shrink height 10px
    bindsym $right resize grow width 10px

    # Ditto, with arrow keys
    bindsym Left resize shrink width 10px
    bindsym Down resize grow height 10px
    bindsym Up resize shrink height 10px
    bindsym Right resize grow width 10px

    # Return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"

#
# Moving the cursor around with the keyboard:
#
mode "cursor" {
    bindsym $left seat - cursor move -10 0
    bindsym $down seat - cursor move 0 10
    bindsym $up seat - cursor move 0 -10
    bindsym $right seat - cursor move 10 0

    bindsym $mod+$left seat - cursor move -100 0
    bindsym $mod+$down seat - cursor move 0 100
    bindsym $mod+$up seat - cursor move 0 -100
    bindsym $mod+$right seat - cursor move 100 0

    bindsym Left seat - cursor move -10 0
    bindsym Down seat - cursor move 0 10
    bindsym Up seat - cursor move 0 -10
    bindsym Right seat - cursor move 10 0

    bindsym $mod+Left seat - cursor move -100 0
    bindsym $mod+Down seat - cursor move 0 100
    bindsym $mod+Up seat - cursor move 0 -100
    bindsym $mod+Right seat - cursor move 100 0

    bindsym Return seat - cursor press button1, seat - cursor release button1

    # Return to default mode
    bindsym Escape mode "default"
}
bindsym $mod+m mode "cursor"

#
# Status Bar:
#
# Read `man 5 sway-bar` for more information about this section.
bar {
    # swaybar_command swaybar
    position top
    # colors {
    #     statusline #ffffff
    #     background #000000s
    #     inactive_workspace #32323200 #32323200 #5c5c5c
    # }
    
    status_command /opt/bumblebee-status/bumblebee-status \
        -m title bluetooth2 spotify cpu memory nic pasink brightness battery date time \
        -a cpu memory \
        -p interval=10s time.format="%H:%M" date.format="%a, %b %d" \
        -p title.interval=2s \
        -p cpu.warning=50 \
        -p memory.format='{used} ({percent:05.02f}%)' memory.warning=50 \
        -p nic.states='^down' nic.format='{ssid} {state}' \
        -p pulseaudio.limit=60 pulseaudio.showbars=1 \
        -t iceberg-rainbow
}

# Screenshots
    bindsym Print exec swaygrab ~/Pictures/screenshots/$(date +"%Y-%m-%d_%H:%M:%S.png")

# Bind App to workspace
# Check class by : xprop
# swaymsg -t get_tree
assign [class="Vivaldi-stable"] $ws2
assign [class="Code"] $ws3

# Floating windows
floating_minimum_size 200 x 200
floating_maximum_size 2000 x 1000
for_window [window_role="pop-up"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [window_role="task_dialog|bubble|page-info|Preferences|pop-up"] floating enable
for_window [window_role="Open Files"] floating enable sticky
for_window [window_role="File Operation Progress"] floating enable sticky
for_window [window_role="Save As"] floating enable
for_window [window_role="Open"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_type="menu"] floating enable

# Specific application tweaks
for_window [app_id="speedcrunch"] floating enable, resize set width 600px height 800px, opacity 0.4
for_window [app_id="float_term"] floating enable, resize set width 600px height 800px

# make sure pipewire capture works (testing, via https://github.com/wouterh/my-config/blob/main/.config/sway/config)
exec "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=sway"

# Launch applications


# Jump to applications
bindsym $super+b [class="Vivaldi-stable"] focus
bindsym $super+v [class="Vivaldi-stable"] focus
bindsym $super+t [class="Todoist"] focus

# Run on start
exec_always --no-startup-id libinput-gestures
exec_always --no-startup-id $config_dir/inactive-windows-transparency.py --opacity 0.85
exec_always --no-startup-id $config_dir/kanshi/build/kanshi
exec alacritty
exec vivaldi
exec code
exec --no-startup-id swaymsg 'alacritty; move scratchpad'