[submodule "Kitty/kitty-themes"]
	path = Kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule "Alacritty/alacritty-theme"]
	path = Alacritty/alacritty-theme
	url = https://github.com/eendroroy/alacritty-theme.git
[submodule "Sway/kanshi"]
	path = Sway/kanshi
	url = https://git.sr.ht/~emersion/kanshi
